:root {
  --z13: #373d48;
  --bg: #1a202c;
  --panel-width: 60px;
  //--background: #1A202C;
  --background: #f5f5f5;
}
body {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background-color: var(--background);
}
img {
  object-fit: contain;
}
.stageStarted {
  cursor:
    url("@/assets/images/pentool.png") 8 0,
    crosshair;
}
.drawSpeech {
  cursor: crosshair;
}
.bezier {
  &-container {
    @include size(100vw, 100vh);
    display: flex;
  }
  &-panel {
    width: var(--panel-width);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
  }
  &-tool {
    height: 30px;
    width: 50%;
    @include flex(center, center);
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #1A202C;
    transition: all 0.25s ease;
    background-color: #555A63;
    &:hover {
      background-color: #ffffff;
      .bezier-tool__name {
        display: block;
      }
      .bezier-tool__delete {
        display: block;
      }
    }
    &:nth-child(odd) {
      border-right: 1px solid #1A202C;
    }
    &-color {
      width: 100%;
      height: 72px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-right: 0 !important;
      border-bottom-color: gray;
      &:hover {
        .bezier-tool__name {
          display: none;
        }
      }
      &-reset {
        width: 100%;
        @include flex(center, center);
        border-top: 1px solid gray;
        &-icon {
          @include size(12px);
          background-color: #ffffff;
          &.isStroke {
            border: 1px solid #1A202C;
            &::after {
              position: absolute;
              content: '';
              @include size(30%);
              background-color: #555A63;
              @include centerAbsolute('both');
            }
          }
        }
        &-item {
          padding: 2px 4px;
          width: 33.3333%;
          position: relative;
          &.isActive {
            background-color: #303030;
          }
          &:hover {
            .bezier-tool__name {
              display: block;
            }
          }
          & + .bezier-tool-color-reset-item {
            border-left: 1px solid gray;
          }
        }
        &__gradient {
          //background-image: linear-gradient(to right, #ffffff, #000000);
        }
        &__none {
          &::after {
            position: absolute;
            content: '';
            border-bottom: 1px solid red;
            width: 17px;
            top: 50%;
            left: calc(50% + 1px);
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
      &-arrow {
        position: absolute;
        top: 4px;
        right: 4px;
      }
      &:hover {
        background-color: #555A63 !important;
      }
      &-item {
        @include size(35px);
        position: absolute;
        border: 1px solid #1A202C;
        &.isNotActive:after {
          position: absolute;
          content: '';
          border-bottom: 1px solid red;
          width: 46px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
    &__fill {
      top: 4px;
      left: 4px;
      &:hover {
        .bezier-tool__name {
          display: block;
        }
      }
    }
    &__stroke {
      bottom: 20px;
      right: 4px;
      padding: 5px;
      &:hover {
        .bezier-tool__name {
          display: block;
        }
      }
      &::before {
        @include centerAbsolute('both');
        content: '';
        @include size(50%);
        background-color: #555A63;
      }
    }
    &::after {
      position: absolute;
      content: '';
      width: 5px;
      left: 100%;
      top: 0;
      height: 100%;
      z-index: 999;
    }
    &__delete {
      display: none;
      position: absolute;
      bottom: -5px;
      left: calc(100% + 5px);
      font-size: 10px;
      white-space: nowrap;
      background-color: #eeeeee;
      padding: 2px;
      z-index: 99;
    }
    &__avt {
      font-size: 13px;
      font-weight: 600;
    }
    &.isActive {
      background-color: #ffffff;
    }
    img {
      @include size(15px);
      &.bezier-tool-color-arrow {
        position: absolute;
        top: 4px;
        right: 4px;
        @include size(12px);
      }
    }
    &-custom {
      .bezier-tool__name {
        top: -5px;
      }
    }
    &__name {
      display: none;
      position: absolute;
      top: 0;
      left: calc(100% + 5px);;
      font-size: 10px;
      white-space: nowrap;
      background-color: #eeeeee;
      padding: 2px;
      z-index: 9999;
      user-select: none;
      cursor: default;
    }
  }
}
.workspace {
  flex: 1;
  position: relative;
}
.drawing {
  @include size(100%);
}
#workspace-virtual,
#workspace {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}

#endpoint,
#startpoint,
.endpoint,
.startpoint {
  stroke: none;
  fill: none;
}

.hide {
  display: none;
}
#bounding-box {
  pointer-events: none;
}
.polygon {
  pointer-events: bounding-box;
  &.isMoving {
    cursor: grab;
  }
  &:hover {
    .pathVirtual {
      stroke: #4e7fff !important
    }
  }
}
rect.isEditing:hover,
circle.isEditing:hover {
  fill: #4e7fff !important;
}
rect {
  &.isEditing {
    &:hover {
      cursor:
        url("@/assets/images/mouse.png") 4 0,
        crosshair;
    }
  }
  &.ns-resize {
    &:hover {
      cursor: ns-resize;
    }
  }
  &.ew-resize {
    &:hover {
      cursor: ew-resize;
    }
  }
  &.nesw-resize {
    &:hover {
      cursor: nesw-resize;
    }
  }
  &.nwse-resize {
    &:hover {
      cursor: nwse-resize;
    }
  }
}
.circle {
  width: 3px;
  height: 3px;
  border: 1px solid #4e7fff;
  background-color: #ffffff;
  position: absolute;
  border-radius: 0;
  z-index: 999;
  cursor: pointer;
  &-top {
    left: 50%;
    transform: translateX(-50%);
    top: -3px;
  }
  &-right {
    right: -3px;
    top: 50%;
    transform: translateY(-50%);
  }
  &-bottom {
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
  }
  &-left {
    left: -3px;
    top: 50%;
    transform: translateY(-50%);
  }
  &-top-left {
    top: -3px;
    left: -3px;
  }
  &-top-right {
    top: -3px;
    right: -3px;
  }
  &-bottom-left {
    bottom: -3px;
    left: -3px;
  }
  &-bottom-right {
    bottom: -3px;
    right: -3px;
  }
}

#virtualRectangle {
  position: absolute;
  border: 2px dashed palevioletred;
  opacity: 0;
  z-index: -1;
}
.node_group {
  pointer-events: none;
}
rect,
circle {
  pointer-events: auto;
}
#colorPicker {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  cursor: pointer;
  @include size(300px, 360px);
  @include flex(center, center);
  .ui-color-picker {
    margin: 0;
    .gradient-controls {
      height: 40px;
      padding: 0;
    }
    .color-preview-area {
      margin-bottom: 0;
    }
  }
  .picker-area {
    padding: 0;
  }
  .ui-color-picker,
  .vacp-color-picker {
    @include size(100%);
    padding: 8px;
  }
}
#bezier-grid {
  user-select: none;
  pointer-events: none;
  z-index: -1;
}
line.grid[_ngcontent-khl-c93] {
  stroke: #555A63;
  user-select: none;
  pointer-events: none;
  z-index: -1;
}
*[_ngcontent-ehe-c94] {
  box-sizing: border-box;
}
[_nghost-ehe-c93] {
  background-color: #1e1e1e;
  -webkit-user-select: none;
  user-select: none;
}